@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-gradient: #a1bfff;
  --foreground: #171717;
  --button-top: #6c93e232;
  --button-bottom: #60759bcc;
}

/* --button-top: #6c93e232;
--button-bottom: #60759bcc; */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151b29;
    --background-gradient: #192b53;
    --foreground: #ededed;
    --button-top: #7f97c805;
    --button-bottom: #242b3f;
  }
}

html {
  background-color: var(--background);
}

body {
  color: var(--foreground);
  background: linear-gradient(180deg, var(--background) 0%, var(--background-gradient) 100%);
  font-family: Arial, Helvetica, sans-serif;
}
