.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4rem;
  padding: 1rem 0;
  background-color: black;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
  color: white;
  user-select: none;
}

.footeritems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
}

.icons {
  display: flex;
  align-content: center;
}

.icon {
  text-align: center;
  margin: 0rem 0.5rem;
  border: 0.1rem solid white;
  border-radius: 0.2rem;
  width: 32px;
  height: 32px;
}

.icon a {
  font-size: 1.5rem;
}

.icon:hover {
  color: black;
  background-color: white;
}
