.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 13rem;
  background-color: black;
  color: white;
  user-select: none;
}

.headerlogo {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.headerlogo img {
  width: 300px;
}

.headertext {
  display: flex;
  align-content: center;
  font-size: 1rem;
}

.menubar {
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 100%;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}

.menubarbutton {
  display: flex;
  justify-content: center;
  width: 5rem;
}

.menubarbuttontext {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menubarbutton:hover {
  font-weight: bold;
}

.active {
  font-weight: bold;
}
